@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

@layer components {
  .glass-effect {
    @apply bg-white/80 backdrop-blur-md sticky top-0 z-50 border-b border-slate-200/50;
  }
}
